<div id="header">
   <h5>Welcome <%= user.name %></h5>
   <h1 class="calendarHeader text-center"><%= calendarHeader %></h1>
   <div>
      <button type="button" id="prevBtn" class="pastNextBtn text-center"><</button>
      <button type="button" id="nextBtn" class="pastNextBtn text-center">></button>
   </div>
   <div class="btn-grp text-center">
      <button type="button" id="dailyView" class="viewBtn">Daily</button>
      <button type="button" id="weeklyView" class="viewBtn">Weekly</button>
      <button type="button" id="monthlyView" class="viewBtn">Monthly</button>
   </div>
</div>
