<!-- Menu for creating an event -->
<div id="editMenu" class="hide">
   <form>
      <div>
         <h3 class="text-center">Add Event</h3>
         Title:<br>
         <input type="text" id="eventTitle">
      </div>
      <div>
         Date:<br>
         <input type="date" id="eventDate">
      </div>
      <div class="eventTimes">
         <div>
            Start Time:<br>
            <input type="time" id="eventStartTime">
         </div>
         <div>
            End Time:<br>
            <input type="time" id="eventEndTime">
         </div>
      </div>
      <div id="eventColors">
         Event Color:<br>
         <input id="gray" type="button" class="colorBtn selectedColor" name="#bfbfbf">
         <input id="darkGreen" type="button" class="colorBtn" name="#00b300">
         <input id="turqoise" type="button" class="colorBtn" name="#80ffaa">
         <input id="blue" type="button" class="colorBtn" name="#0066ff">
         <input id="purple" type="button" class="colorBtn" name="#db4dff">
         <input id="lightPurple" type="button" class="colorBtn" name="#9999ff">
         <input id="lightBlue" type="button" class="colorBtn" name="#4ddbff">
         <input id="red" type="button" class="colorBtn" name="#ff0066">
         <input id="orange" type="button" class="colorBtn" name="#ff8533">
         <input id="lightOrange" type="button" class="colorBtn" name="#ffbb99">
         <input id="yellow" type="button" class="colorBtn" name="#e6e600">
      </div>
      <div id="repeat">
         Repeat:<br>
         <input type="radio" value="None" checked>None
         <input type="radio" value="Weekly">Weekly
         <input type="radio" value="Monthly">Monthly<br>

         <input type="radio" value="Sun">Sun
         <input type="radio" value="Mon">Mon
         <input type="radio" value="Tue">Tue
         <input type="radio" value="Wed">Wed
         <input type="radio" value="Thurs">Thurs
         <input type="radio" value="Fri">Fri
         <input type="radio" value="Sat">Sat<br>
      </div>
      <button type="button" class="createEvent" id="addEventBtn">Create Event</button>
   </form>
</div>
