<!doctype html>
<html>
   <head>
      <title>register</title>
      <link rel="stylesheet" href="/stylesheets/main.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
   </head>
   <body>
      <div class='loginRegisterBackground'>
         <div class='loginRegisterMenu'>
            <form method="post">
               <h1>Register for Calendar</h1>
               <div>
                  Full Name:<br>
                  <input type="text" id="fullNameInput">
               </div>
               <div>
                  Email:<br>
                  <input type="email" id="emailInput">
               </div>
               <div>
                  Password:<br>
                  <input type="password" id="passwordInput">
               </div>
               <button type="button" id="registerUser">register</button>
            </form>
         </div>
      </div>
   </body>
   <script src="/javascripts/users.js"></script>
</html>
