<!doctype html>
<html>
   <head>
      <% include ./partials/head %>
   </head>
   <body>
      <div id="table-background">
         <% include ./partials/calendarHeader %>
         <table id="calendar"></table>
      </div>
      <!-- Right Drawer -->
      <% include ./partials/rightDrawer %>
      <button type="button" id="addEventButton">+</button>
      <!-- ///////////////////////////////////////// -->
      <!-- Add Event Menu -->
      <% include ./partials/editMenu %>
      <!-- //////////////////////////////////////////// -->
      <!-- Edit Event Menu -->
      <% include ./partials/eventMenu %>
   </body>
   <script>
      let date = new Date("<%- currentDate %>");
      let month = date.getMonth();
      let year = date.getFullYear();
   </script>
   <script src="/javascripts/populateWeekly.js"></script>
   <script src="/javascripts/calendar_v2.js"></script>
</html>
